<meta name="viewport" content="width=device-width, initial-scale=1.0">
<form method="POST">
    <label for="date">Choose a date:</label>
    <br>
    <input id="date" name="date" type="date">
    <br><br>
    <label for="stations">Choose a station:</label>
    <br>
    <select id="stations" name="stations" size="3">
        <option value="Koeln Hbf">Köln Hbf</option>
        <option value="Frankfurt(Main)Hbf">Frankfurt (Main) Hbf</option>
        <option value="Muenchen Hbf">München Hbf</option>
        <option value="Berlin Hbf">Berlin Hbf</option>
        <option value="Hamburg Hbf">Hamburg Hbf</option>
    </select>
    <br><br>
    <input type="submit">
</form>