{% extends "base.html" %}

{% block nav_item2 %}"nav-item active"{% endblock %}
{% block content %}
<table class="table" style="width:220pt">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">{{date}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Origin</td>
      <td>{{origin}}</td>
    </tr>
    <tr>
      <td>Departure</td>
      <td>{{departure}}</td>
    </tr>
    <tr>
      <td>Destination</td>
      <td>{{destination}}</td>
    </tr>
        <td>Arrival</td>
      <td>{{arrival}}</td>
  </tbody>
</table>
{% endblock %}

